target
project/target
project/metals.sbt

.vscode

project/project
.bloop
.metals
.idea
.bsp
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
# Note: Only ignore the top-level build dir, tests use dirs named 'build' which we don't want to ignore
/build

bin

.classpath

.project

.settings

.java-version
.ammonite